@import "./fonts";


$font-family: 'Plus Jakarta Sans', sans-serif;
// Heading
$heading-font-color: #13183f;
$heading-font-weight: weight(extra-bold);

//Body
$body-font-color: #83869A ;

//Gradients
$gradient1: linear-gradient(#ff6f48, #f02aa6);
$gradient2: linear-gradient(#4851ff, #f02aa6);

//Links
$link-color: #f74780;
$link-color-hove:#ffa7c3;

//Button1
$button1-idle: #13183f;
$button1-hover:#666ca3;

//Tablet & Mobile
$pre-tablet-size: 1130px;
$tablet-size: 905px;
$mobile-size: 375px;

@mixin pre-tablet {
    @media only screen and (max-width: $pre-tablet-size){
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-size){
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: $mobile-size){
        @content;
    }
}